<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/sbchong/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="sbchong" />
      <add key="ClearTextPassword" value="326cf0996949d41a425a8add541eefd8e1748d60" />
    </github>
  </packageSourceCredentials>
</configuration>